@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

blockquote[xml|lang],
#chapter-2-3 blockquote:nth-of-type(8),
#chapter-2-3 blockquote:nth-of-type(13),
#chapter-2-3 blockquote:nth-of-type(16){
	font-style: italic;
}

#chapter-2-2 blockquote b{
	text-transform: uppercase;
}

#chapter-2-3 blockquote:nth-of-type(17){
	font-variant: small-caps;
}

#chapter-2-3 blockquote:nth-of-type(-n+17) p{
	text-align: center;
}

caption{
	font-variant: small-caps;
}

/* Table CSS */
table{
	border-collapse: collapse;
	font-variant-numeric: tabular-nums;
	margin: 1em auto;
}

table tr td{
	padding: 0 .5em;
	vertical-align: top;
}

#chapter-2-1 table:nth-of-type(2){
	padding-left: 3.5em;
}

#chapter-2-1 table td:last-child{
	text-align: right;
	white-space: nowrap;
}

#chapter-2-1 table:first-of-type tfoot td:last-child,
#chapter-2-1 table:nth-of-type(4) tbody tr:nth-of-type(3) td:last-child{
	border-top: 1px solid;
}

#chapter-2-1 table:nth-of-type(2) tfoot td:last-child{
	font-style: italic;
}

#chapter-2-1 table:nth-of-type(2) tfoot td:last-child,
#chapter-2-1 table:nth-of-type(n+4) tfoot td:last-child{
	border-bottom: 1px solid;
	border-top: 1px solid;
	font-style: italic;
}

#chapter-2-3 table th{
	font-style: italic;
	font-weight: normal;
	padding: 0 1em;
	text-align: center;
}

#chapter-2-3 table td{
	text-align: center;
}
/* End Table CSS */
